
@{
    ViewBag.Title = "domainmanage";
    Layout = "~/Views/shared/_Layout1.cshtml";
}

<div class="header">
    <div class="container">
        <div class="header_top">
            <div class="logo">
                <a href=""><img src="~/Assects/images/cloudysp.png" alt="" / width="50" height="50"><p> @Html.ActionLink("CLOUDY SPACE", "index", "home")</p></a>
            </div>
            <div class="cssmenu">
                <ul>
                    <li><a href="mailto:clodyspace12@gmail.com">info(at)cloudyspace.com</a></li>
                    <li class="active">@Html.ActionLink("LOGIN", "login", "home")</li>
                    <li>@Html.ActionLink("REGISTER", "register", "home")</li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="h_menu4">
            <!-- start h_menu4 -->
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">
                <li class="active">@Html.ActionLink("HOME", "index", "home")</li>
                <li> @Html.ActionLink("ABOUT US", "about", "home")</li>
                <li> @Html.ActionLink("SERVICE", "service", "home")</li>
                <li> @Html.ActionLink("PLANS", "plan", "home")</li>
                <li> @Html.ActionLink("DOMAIN", "domain", "home")</li>
                <li> @Html.ActionLink("FAQ", "faq", "home")</li>
                <li> @Html.ActionLink("BLOG", "blog", "home")</li>
                <li> @Html.ActionLink("SUPPORT", "support", "home")</li>
                <li> @Html.ActionLink("CONTACT", "contact", "home")</li>
            </ul>
            <script type="text/javascript" src="~/Assects/js/nav.js"></script>
        </div><!-- end h_menu4 -->
    </div>
</div>
<div class="about">
    <div class="container">
        <h1>Domain<span class="m_1"><br>Management</span></h1>
    </div>
</div>
<div class="tablecontainer">

    <div class="table">
        <div class="table-header">
            <div class="header__item"><a id="name" class="filter__link" href="#">S.No</a></div>
            <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Web name</a></div>
            <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Web Tag</a></div>
            <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Company name</a></div>
            <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Total</a></div>
            <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Occupied space</a></div>
            <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Free space</a></div>
        </div>
        <div class="table-content">
            <div class="table-row">
                <div class="table-data">1</div>
                <div class="table-data">kit123.co.in</div>
                <div class="table-data">KIT-schooling</div>
                <div class="table-data">KIT</div>
                <div class="table-data">10GB</div>
                <div class="table-data">3GB</div>
                <div class="table-data">7GB</div>
            </div>
            <div class="table-row">
                <div class="table-data">1</div>
                <div class="table-data">college123.co.in</div>
                <div class="table-data">collegeing</div>
                <div class="table-data">clg</div>
                <div class="table-data">10GB</div>
                <div class="table-data">7GB</div>
                <div class="table-data">3GB</div>
            </div>

        </div>
    </div>
</div>
