
@{
    ViewBag.Title = "service";
    Layout = "~/Views/shared/_Layout1.cshtml";
}

<div class="header">
    <div class="container">
        <div class="header_top">
            <div class="logo">
                <a href=""><img src="~/Assects/images/cloudysp.png" alt="" / width="50" height="50"><p> @Html.ActionLink("CLOUDY SPACE", "index", "home")</p></a>
            </div>
            <div class="cssmenu">
                <ul>
                    <li><a href="mailto:clodyspace12@gmail.com">info(at)cloudyspace.com</a></li>
                    <li class="active">@Html.ActionLink("LOGIN", "login", "home")</li>
                    <li>@Html.ActionLink("REGISTER", "register", "home")</li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="h_menu4">
            <!-- start h_menu4 -->
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">
                <li>@Html.ActionLink("HOME", "index", "home")</li>
                <li> @Html.ActionLink("ABOUT US", "about", "home")</li>
                <li class="active"> @Html.ActionLink("SERVICE", "service", "home")</li>
                <li> @Html.ActionLink("PLANS", "plan", "home")</li>
                <li> @Html.ActionLink("DOMAIN", "domain", "home")</li>
                <li> @Html.ActionLink("FAQ", "faq", "home")</li>
                <li> @Html.ActionLink("BLOG", "blog", "home")</li>
                <li> @Html.ActionLink("SUPPORT", "support", "home")</li>
                <li> @Html.ActionLink("CONTACT", "contact", "home")</li>
            </ul>
            <script type="text/javascript" src="~/Assects/js/nav.js"></script>
        </div><!-- end h_menu4 -->
    </div>
</div>
<div class="about">
    <div class="container">
        <h1>Our Service<span class="m_1"><br>What we Doing</span></h1>
    </div>
</div>
<div class="about_grid">
    <div class="container">
        <h4 class="tz-title-4 tzcolor-blue">
            <p class="tzweight_Bold"><span class="m_1">Hosting<br></span>Services</p>
        </h4>
        <div class="service_box">
            <div class="col-md-4 service_grid1">
                <i class="icon1"> </i>
                <h3>Unlimited Disk Space</h3>
                <p>unlimited disk space, allows you to add as much content and pages to your website as you wish without any extra fees from your web host provider (although it's always a good idea to check the fine print).</p>
            </div>
            <div class="col-md-4 service_grid1">
                <i class="icon2"> </i>
                <h3>Unlimited Bandwidth</h3>
                <p> “Unlimited bandwidth” ideally means that as far as the amount of data-transfer goes, you can download or upload as much data as you want in a given period of time.</p>
            </div>
            <div class="col-md-4 service_grid1">
                <i class="icon3"> </i>
                <h3>24/7 Customer Support</h3>
                <p>24/7 customer support means customers can get help and find answers to questions as soon as they come up—24/7 and in real-time.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="service_box1">
            <div class="col-md-4 service_grid1">
                <i class="icon4"> </i>
                <h3>High Speed</h3>
                <p>OneDrive — Fast cloud storage that struggles with large files</p>
            </div>
            <div class="col-md-4 service_grid1">
                <i class="icon5"> </i>
                <h3>Site Protections</h3>
                <p>Monitoring ,Firefall,backups.</p>
            </div>
            <div class="col-md-4 service_grid1">
                <i class="icon6"> </i>
                <h3>SSD Database Storage</h3>
                <p>SSD is faster and has more predictable performance than HDD. </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="domain">
    <div class="container">
        <form class="search-form domain-search">
            <div class="two-fifth signup column first">
                <img src="~/Assects/images/message.png" alt="" / width="50" height="50">
                <h2><span class="m_1">Sign Up Your</span><br>Newsletter</h2>
            </div>
            <div class="three-fifth searchbar column first">
                <input type="text" class="text" value="Enter your domain name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your domain name';}">
            </div>
            <div class="one-fifth col_2 ">
                <br><br>
                <p class="active"><b>@Html.ActionLink("DOMAIN MANAGE", "domainmanage", "home")</b></p>
            </div>
            <div class="clearfix"> </div>
        </form>
    </div>
</div>